<div class="row text-xs-center">
  <h1>Welcome To PinBoard</h1>
  <p>Pin what's interests you. Create your Favorites. Enjoy your world!</p>

  <div>
    <%= link_to "View Pins", pins_path, class: "btn btn-primary" %>
  </div>
</div>
